body {
  background-color: #f0ece2;
  margin-left: 0px;
  /* font-family: ; */
}

.nav {
  background-color: #f0ece2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

#name {
  float: left;
  margin-top: 5px;
}

.nav svg {
  float: right;
}


.nav .btns button {
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 10%;
}

#join {

}

#free {
  
}

.banner {
  background: url(chrisbanner.webp);
  height: 55vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.freepass {
  background-color: #dfd3c3;
}

.footer {
  background-color: #f0ece2;
}


